.servicosVeterinarios {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.cabecalho {
    width: 80%;
    margin-top: 3.38vmax;
}

.corpo {
    display: flex;
    width: 80%;
    margin-top: 5.2vmax;
}

.seletores {
    width: 40%;
}

.servicoVeterinario {
    width: 60%;
}