$cor-primaria: #50B4C9;
$cor-secundaria: #B88F51;
$cor-base: #8E8E8E;
$cor-base-claro: #E0E0E0;
$cor-base-escuro: #4A4A4A;

$fonte-tamanho-grande: clamp(1rem, 3.33vmax, 3.33vmax);
$fonte-tamanho-medio: clamp(1rem, 1.66vmax, 1.66vmax);
$fonte-tamanho-pequeno: clamp(1rem, 1.35vmax, 1.35vmax);
$fonte-tamanho-micro: clamp(1rem, 1.25vmax, 1.25vmax);
$fonte-tamanho-nano: clamp(1rem, 1.09vmax, 1.09vmax);

// fonte-tamanho-nano: 21px
// fonte-tamanho-micro: 24px
// fonte-tamanho-pequeno: 26px
// fonte-tamanho-medio: 32px
// fonte-tamanho-grande: 64px
// fonte-tamanho-gigante: 96px