.medicosVeterinarios{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho{
    width: 80%;
    margin-top: 3.38vmax;
}

.carrossel {
    width: 80%;
    margin-top: 5.2vmax;
}

// (tamanhoEspaço - maiorTamanhoTelaProjeto) / maiorTamanhoTelaProjeto * 100 + 100